#!/bin/sh

# update system
sudo yum update -y

# install docker engine and add user to docker group
sudo amazon-linux-extras install docker -y
sudo service docker start
sudo usermod -aG docker ec2-user
newgrp docker

# run our app
docker run -d \
  --restart always \
  -p "80:80" \
  -p "443:443" \
  -v "caddy-data:/data" \
  -v "caddy-config:/config" \
  caddy caddy reverse-proxy --from "$(curl http://169.254.169.254/latest/meta-data/public-ipv4).nip.io" --to "${gitea_host}:3000"
